body {
	background-color: lightyellow;
	border-spacing: 0;

}

#container {
		margin: 5%;

	width: 90%;
}

#schedule-table {
	background-color: lightgreen;
	padding: 0;
	width: 100%
}

.schedule-cell {
	background-color: whitesmoke;
	box-sizing: border-box;
}
.schedule-cell:hover  {
	box-sizing: border-box;
}

.selected {
	
	border: 1px solid gray;
}

.no-user-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

