body {
	background-color: lightyellow;
}

#schedule-table {
	background-color: pink;
}

.schedule-cell {
	background-color: lightblue;

}
.schedule-cell:hover  {
	background-color: green;
}

.no-user-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
